@tailwind base;
@tailwind components;
@tailwind utilities;

.xeno-gap{
    gap:20px;
}

#image-preview{
    display: flex;
    flex-wrap: wrap;
}
.bg-disabled{
    background-color: #ccc!important;
    cursor: not-allowed;
}
.bg-success{
    background-color: #28a745;
}