:root{
    --primary-color: #D74559;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.text-primary-color {
    color: var(--primary-color);
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: var(--primary-color);
    color: #fff!important;
}